.BodyText {
    font-family: 'Roboto', sans-serif; /* Example font-family */
    color: #333; 
  text-align: left;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 1.5;
 
    @media screen and (max-width: 626px) {
      font-size: 20px;
      padding: 10px;}
  }

  .SubHeading{
    font-size: clamp(36px, 4vw, 48px);
  }
  